<h1>New Game</h1>
<h2>Here is your grid</h2>
<%= @array %>
<p>What is the longest word you can find?</p>
<form action="/contact" method="get">
  <input type="text" name="member" placeholder="Who are you looking for?">
  <input type="submit">
</form>