<h1>New Game</h1>
<h2>Here is your grid</h2>
<%= @array %>
<p>What is the longest word you can find?</p>
<form action="/score" method="post">
  <input type="text" name="word">
  <input type="submit" value="Play">
  <%= hidden_field_tag :authenticity_token, @array %>
</form>